.info {

	background-image: url(../img/Prostok%C4%85t%201%20kopia%205.png);
	min-height: 500px;
	background-position:center;
	background-size: cover;
	color: white;
	padding-top: 114px;
	padding-bottom: 145px;
}
.info-inner {
	display: flex;
  flex-direction: column;
  align-items: center;
 
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
	.info {
		min-height: 400px;
		padding-top: 50px;
		padding-bottom: 30px;
	}
	
}
