.services {
	padding-top:10px;
}

.services-list {
	display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 80px -34px 94px -34px;
	list-style: none;
	padding-inline-start: 0;
 }
.services-list-item {
	 flex: 0 0 25%;
   max-width: 25%;
   padding-inline-start: 0;
   padding: 0px 60px;
}
.services-list-title {
	text-align: center;
}

.services-item-block {
	   display: flex;
    flex-direction: column;
		align-items: center;
 }

.services-list-img {display: flex;
    width: 135px;
		height: 135px;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 50%;
	  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
    
   .services-list {
	   margin: 60px -10px 25px -10px;
  }
	.services-list-item {
	   padding: 0 20px;
	}
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
	.services {
		padding-top: 0;
	}
	.services-list {
		margin: 30px -5px 40px -5px;
		
	}
	
	.services-list-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px 10px;
	}
}