.updates {
	padding-top: 110px;
}
.updates-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-top: 89px;
	margin: 0 -15px 0 -15px;
}
.updates-item {
	flex: 0 0 33.33%;
  max-width: 33.33%;
	padding: 0 15px 60px 15px;
}
.updates-card-img {
	position: relative;
	padding-top: 70%;
	overflow: hidden;
}
.updates-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.updates-item-card {
	background-color: #f4f4f4;
	overflow: hidden;
}

.updates-card-img::before {
	content: '';
	position: absolute;
    content: "";
    right: 0;
    top: 100%;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 200%;
    height: 200%;
	background-color: #ed145b;
	transition:  all 0.5s;
	transform: rotate(2deg);
    transform-origin: right top;
    animation: layout-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 10;
}
@keyframes layout-in { 
	0% { 
		transform: rotate(2deg);
		opacity: 1;
	} 
	50% { 
		transform: rotate(90deg);
		opacity: 1;
	} 
	100% { 
		transform: rotate(90deg);
		opacity: .5;
	}  
}
@keyframes layout-out { 
	0% { 
		transform: rotate(90deg);
		opacity: .5;
	} 
	50% { 
		transform: rotate(90deg);
		opacity: .5;
	}  
	100% { 
		transform: rotate(2deg);
		opacity: 1;
	}  
}

.updates-card-img:hover::before {    
    animation: layout-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.updates-hover-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(.2);
	opacity: .1;
	z-index: 10;   

    animation: icon-out;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
}
@keyframes icon-in { 
	0% { 
		transform: translate(-50%, -50%) scale(.2);
		opacity: .1;
	} 
	51% { 
		transform: translate(-50%, -50%) scale(.2);
		opacity: .1;
		z-index: 20;
	} 
	100% { 
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}  
}
@keyframes icon-out { 
	0% { 
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;		
	} 
	49% { 
		transform: translate(-50%, -50%) scale(0.2);
		opacity: .1;		
	}  
	100% { 
		transform: translate(-50%, -50%) scale(.2);
		opacity: .1;		
	}   
}
.updates-card-img:hover .updates-hover-icon { 
    animation: icon-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}





.updates-card-title {
	text-transform: uppercase;
	letter-spacing: 0.75px;
 	margin-top: 18px;
}
.updates-card-text {
	letter-spacing: 0.3px;
  line-height: 1.8;
}
.updates-card-content {
	padding: 0 20px 5px 20px;
}


.updates-btn {
	 	cursor: pointer;
    margin: 50px auto;
    background-color: white;
    text-align: center;
    color: rgb(237, 20, 91);
    text-transform: uppercase;
    line-height: 2.2;
    border: none;
    display: block;
    font-weight: bold;
  }
.updates-btn-img {
	display: block;
  margin: 0 auto;
}
.updates-popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(237, 20, 91, 0.75);
	display: none;
}
.updates-popup.active {
	display: flex;
	align-items: center;
	justify-content: center;
}
.updates-popup-img {
	width: 50%;
}
.updates-popup-exid {
	position: fixed;
  top: 20px;
  width: 50px;
  height: 50px;
  right: 15px;
	cursor: pointer;
}
.updates-popup-exid::after,
.updates-popup-exid::before {
	content: '';
	position: absolute;
  top: 20px;
  background-color:white;
  width: 100%;
  height: 5px;
	border-radius: 10px;
}
.updates-popup-exid::after {
	left: 0;
  transform: rotate(-45deg);
}
.updates-popup-exid::before{
  right: 0;
  transform: rotate(45deg);
	}
@media only screen and (min-width: 768px) and (max-width: 960px) {
	.updates-btn {
	margin: 15px auto;
	}
	.updates-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px 25px 15px;
	}
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
	.updates {
		padding-top: 10px;
	}
	.updates-list {
		padding-top: 10px;
	}
	.updates-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px 20px 15px;
}
	.updates-btn {
		margin: 10px auto;
	}
}
